#friends-display-link {
  display: block;
  text-align: center;
  background-color: rgba(179, 179, 179, 0.1);
  padding: 12px 0px;
  font-size: 15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  padding: 0px 8px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 10px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--sub-title);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.8s 0.5s ease-in-out forwards;
  z-index: 3;
}
