#no-mobile {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 140vh;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
